/* Add a background color to the header element */
header {
    background-color:forestgreen;
}
/* Add a fun background color to the main element */
main {
    background-color: burlywood;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color:coral;
    background-color:green;
    font-style: italic;
}
/* Put a border around your image */
img {
    border: 2px;
    border-color:black;
}
/* Change the font-family of your list */
li {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Add a background color to the footer element */
footer {
background-color: darkgoldenrod;
}